In [10]:
from river import datasets
from river import tree
from river import metrics
from river import evaluate, stream
import kagglehub
import os
from river import feature_selection
from river import preprocessing
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import tqdm
import random
from river.feature_extraction import TFIDF 
from river.naive_bayes import MultinomialNB
from river.compose import Pipeline

In [11]:
folder_path = 'C:/Users/moyap/OneDrive/Escritorio/MASTER IAA/ML en Flujos de datos y Series Temporales/ProyectoFinal-Flujos/data'

In [12]:
csv = os.path.join(folder_path, 'jobs2.csv')

In [13]:
df = pd.read_csv(csv, parse_dates=["fecha_publicacion"])

In [14]:
df.head()

,titulo,descripcion,categoria,fecha_publicacion
0,Gestor/a de riesgos,Controller buscado para un puesto estable en e...,finanzas,2023-06-07
1,Controller,Contable buscado para un puesto estable en el ...,finanzas,2023-08-13
2,Preparador/a físico/a,Técnico/a de rendimiento buscado para un puest...,deportes,2024-08-14
3,Preparador/a físico/a,Entrenador/a buscado para un puesto estable en...,deportes,2024-11-07
4,Especialista en marketing,Gestor de redes sociales buscado para un puest...,marketing,2024-01-01

In [15]:
df = df.sort_values(by="fecha_publicacion", ascending=True)

In [16]:
df = df.reset_index().drop(columns=["index"])

In [17]:
df.head()

,titulo,descripcion,categoria,fecha_publicacion
0,Asesor/a fiscal,Analista financiero/a buscado para un puesto e...,finanzas,2023-01-01
1,Técnico/a de rendimiento,Preparador/a físico/a buscado para un puesto e...,deportes,2023-01-01
2,Técnico/a de rendimiento,Técnico/a de rendimiento buscado para un puest...,deportes,2023-01-01
3,Especialista en marketing,Brand manager buscado para un puesto estable e...,marketing,2023-01-01
4,Procurador/a,Secretario/a legal buscado para un puesto esta...,derecho,2023-01-01

In [18]:
df["categoria"].value_counts()

categoria
tecnologia    2100
finanzas      1900
deportes      1800
salud         1700
hosteleria    1400
derecho       1400
marketing      850
educacion      850
Name: count, dtype: int64

In [19]:
df["text"] = df["titulo"]+". " +df["descripcion"]

In [20]:
df = df.drop(columns=["descripcion", "titulo"])

In [21]:
df = df.drop(columns=["fecha_publicacion"])

In [22]:
data_stream = ((row.drop("categoria"), row["categoria"]) for _,row in df.iterrows())

In [23]:
model = Pipeline(
    ("tfidf", TFIDF(on="text", lowercase=True, normalize=True)),
    ("nb", MultinomialNB()),
)
metric = metrics.Accuracy()

In [24]:
metric = metrics.Accuracy()
score = evaluate.progressive_val_score(data_stream, model, metric,print_every=500)
print(f"Prequential: Accuracy={score}")

[500] Accuracy: 91.38%
[1,000] Accuracy: 95.70%
[1,500] Accuracy: 97.13%
[2,000] Accuracy: 97.85%
[2,500] Accuracy: 98.28%
[3,000] Accuracy: 98.57%
[3,500] Accuracy: 98.77%
[4,000] Accuracy: 98.92%
[4,500] Accuracy: 99.04%
[5,000] Accuracy: 99.14%
[5,500] Accuracy: 99.22%
[6,000] Accuracy: 99.28%
[6,500] Accuracy: 99.34%
[7,000] Accuracy: 99.39%
[7,500] Accuracy: 99.43%
[8,000] Accuracy: 99.46%
[8,500] Accuracy: 99.49%
[9,000] Accuracy: 99.52%
[9,500] Accuracy: 99.55%
[10,000] Accuracy: 99.57%
[10,500] Accuracy: 99.59%
[11,000] Accuracy: 99.61%
[11,500] Accuracy: 99.63%
[12,000] Accuracy: 99.64%
Prequential: Accuracy=Accuracy: 99.64%